$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

$font-stack: "Helvetica Neue",Helvetica,Arial,Sans-serif;
$blue: #2bbed3;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  -o-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
   -o-flex-wrap: $wrap;
   flex-wrap: $wrap;
}
@mixin justify-content($justify) {
  -webkit-justify-content:$justify;
  -moz-justify-content:$justify;
  -ms-justify-content:$justify;
  -o-justify-content:$justify;
   justify-content: $justify;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -o-justify-content: $align;
  align-items: $align;
}


* {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}

body{
	font-family:$font-stack;
	font-size: 40px;
	font-weight:normal;
	color:white;
	background-color:$blue;
	text-align: center;
	h3{
		font-weight: normal;
	}
}
button{
   	opacity: 1;
   	font-size: 40px;
   	background-color:transparent;
	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-o-transition: opacity .25s ease-in-out;
   	-ms-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
button:hover{
    opacity: 0.3;
 }
button:focus{
	 outline:none;
}
#container{
	position:relative;
 	width:100vw;
	height:90vh;
	margin: 4vw auto;
	text-align:center;
	input{
		outline:none;
		background-color:$blue;
		border:none;
		font-size: 40px;
		color:white;
		margin-top:10px;
		text-align:center;
		width:80%;
		margin-bottom:10px;
	}
	.row{
		@include flexbox();
    	@include flex-direction(row);
   		@include justify-content(center); 
		margin-bottom:20px;   		
	}

	.buttons{
		margin-top:10px;
	}

	button[data-num],#clear,.align{
		@include flexbox();
    	@include flex-direction(row);
   		@include justify-content(center); 
   		@include align-items(center);
   	    width: 60px;
    	height:60px;
  		color:white;
  		margin-right:20px;
		border-radius:50%;
  		border:1px solid white;
 		background-color:transparent;
	}
	.align{
		visibility:hidden;
	}
	#btn-submit{
		color:white;
		border:1px solid white;
		border-radius:35px;
		padding:0px 30px;
		margin-top:3vh;
		margin-bottom:10px;
		line-height: 60px;
		background-color:transparent;
	}
	#warning{
		display:none;
	}
}

#withdrawl-container{
	width:100vw;
	display:flex;
	flex-direction:column;
	padding:30px;
	.list{
		position:relative;
		list-style-type:none;
		border:1px solid white;
		height:40px;
		padding:10px 50px;
		min-width:200px;
		display:flex;
		flex-direction:row;
		justify-content:center;
	}

	.show-notes{
		margin:3vh auto; 
		@include flexbox();
    	@include flex-direction(column);
   		@include justify-content(center); 
	}
	#notes,#coins,#small-coins{
		@include flexbox();
    	@include flex-direction(column);
		margin:10px;
	}
	.coin-icon{
		width:25px;
		height:25px;
		background-color:white;
		border-radius:50%;
	    position: absolute;
  		top: 30%;
    	left: 20%;
    }
    .small-coin-icon{
		width:20px;
		height:20px;
		background-color:white;
		border-radius:50%;
	    position: absolute;
  		top: 30%;
    	left: 20%;
    }

	.note-icon{
		width:50px;
		height:15px;
		background-color:white;
		margin-top:10px;
		padding:10px;
		position: absolute;
    	top: 0%;
    	left: 10%;
	}
	.note-icon::before{
		content:'';
    	display:inline-block;
		width:25px;
		height:25px;
		background-color:#2bbed3;
		border-radius:50%;
		position:absolute;
		top: 15%;
    	left: 30%;
	}

	#show-amount{
		margin:4vh;
	}
	#back{
		position:absolute;
		top:30px;
		left:5vw;
		width: 60px;
    	height:60px;
    	border-radius:50%;
    	border:1px solid white;
    	line-height:30px;
    	padding:10px;
    	color:white;
	}
	.align-amount{
		line-height: 40px;
    	position: absolute;
    	left: 38%;
	}
	.align-amount-coin{
		line-height: 40px;
		position: absolute;
    	left: 45%;
	}
}

@media (min-width:761px){
#withdrawl-container{
	.show-notes{
		@include flexbox();
    	@include flex-direction(row);
   		@include justify-content(center); 
		@include flex-wrap(wrap);
		margin:20px;
	}
}
}


